@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

/* font weigth 500--700--800 */

:root {
  /* ---------- COLORES ---------- */
  --boton-uno: #666ca3;
  --boton-principal: #13183f;
  --boton-section: #f74780;
  --parrafo-principal-header: #83869a;
  --boton-cuatro: #ffa7c3;
  --blanco: #ffffff;

  /* ---------- COLORES GRADIENTES ---------- */

  --background-color: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  --background-linear-naranjo: linear-gradient(
    180deg,
    #ff6f48 0%,
    #f02aa6 100%
  );
  --background-linear-azul: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);

  /* ---------- TIPOGRAFIA ---------- */
  --font-family-jakarta: 'Plus Jakarta Sans', sans-serif;
}

body {
  background: var(--background-color);
  font-family: var(--font-family-jakarta);
}
.main {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
}
/* ---------- NAV ---------- */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
.nav__h1 {
  font-family: var(--font-family-jakarta);
  color: var(--boton-principal);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav__boton {
  background-color: var(--boton-principal);
  width: 140px;
  height: 48px;
  border-radius: 28px;

  font-size: 16px;
  font-weight: 700;
}
/* ---------- HEADER ---------- */
.header {
  display: flex;
  flex-direction: column;
}
.header__h2 {
  /* width: 100%; */
  margin: 38px 0 26px 0;

  font-family: var(--font-family-jakarta);
  color: var(--boton-principal);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.header__parrafo {
  /* width: 100%; */

  color: var(--parrafo-principal-header);
  font-family: var(--font-family-jakarta);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
}
.header__boton {
  background: var(--background-linear-naranjo);

  width: 167px;
  height: 56px;
  margin: 24px 0 0 0;
  border-radius: 28px;

  font-size: 16px;
  font-weight: 700;
}
.header__img--mobile {
  margin: 46px 0 0 0;
}
.header__img--tablet {
  display: none;
}
.header__img--desktop {
  display: none;
}



/* <!-- ---------- SECTION ---------- --> */

.section {
  width: 100%;
}
.tarjeta-principal {
  background: var(--background-naranjo);
  background: var(--background-linear-naranjo);

  /* width: 100%; */
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 24px 29px 32px 28px;

  font-family: var(--font-family-jakarta);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 56px;
}
.section__tarjeta {
  background-color: var(--blanco);
  width: 100%;
  height: auto;
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 56px;
  border-radius: 10px;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}
.section__tarjeta--img {
  width: 56px;
  position: relative;
  margin: -68px 0 24px 28px;
}
.section__tarjeta--h2 {
  color: var(--boton-principal);
  font-family: var(--font-family-jakarta);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin: 0 28px;
}
.section__tarjeta--parrafo {
  color: var(--parrafo-principal-header);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  margin: 16px 28px;
}
.section__tarjeta--boton {
  font-family: var(--font-family-jakarta);
  color: var(--boton-section);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  margin: 0 0 32px 28px;
}

/* <!-- ---------- FOOTER ---------- --> */
.footer {
  background-color: var(--boton-principal);
  width: 100%;
  height: 120px;
  margin-top: 80px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.footer__h2 {
  color: var(--blanco);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 16px;
}
.footer__boton {
  background: var(--background-linear-azul);
  width: 140px;
  height: 48px;
  margin-right: 16px;
  border-radius: 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

/* ---------- MEDIA QUERIES ---------- */

@media (min-width: 768px) {
  .main {
    min-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 39px;
    overflow: hidden;

  }
  
  /* ---------- IMAGENES ---------- */

  .header__img--mobile {
    display: none;
  }
  .header__img--desktop {
    display: none;
  }

  /* ---------- FIN IMAGENES ---------- */

  /* ---------- HEADER ---------- */

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header--mobile{
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 0;
  }
  .header__parrafo{
    margin: 25px 0;
  }
  .header__img--tablet{
    display: block;
    width: 100%;
    margin-top: -180px;
    margin-right: -340px;
  }
  /* ---------- SECTION ---------- */

  .section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tarjeta-principal{
    width: 339px;
    height: auto;
    margin-bottom: 56px;
  }
  .section__tarjeta{
    width: 339px;
    margin-bottom: 56px;
  }
    /* faltan 30 px con el footer */
  /* .footer{} */
}

@media (min-width:1440px){
  .main {
    min-width: 1440px;
    padding: 0 165px;
    overflow: hidden;

  }
  /* ---------- NAV ---------- */

  .nav__h1 {
    font-family: var(--font-family-jakarta);
    color: var(--boton-principal);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .nav__boton {
    background-color: var(--boton-principal);
    width: 167px;
    height: 56px;
    border-radius: 28px;
  
    font-size: 18px;
  }
  /* ---------- HEADER ---------- */

  /* ---------- SECTION ---------- */

  .tarjeta-principal{
    width: 350px;
    height: auto;
    margin-bottom: 56px;
  }
  .section__tarjeta{
    width: 350px;
    margin-bottom: 56px;
  }
}